[submodule "data"]
	path = data
	url = https://github.com/egoboo/egoboo-assets
[submodule "external"]
	path = external
	url = https://github.com/glgoston/egoboo-external
[submodule "idlib"]
	path = idlib
  url = https://github.com/glgoston/idlib
	branch = develop
[submodule "idlib-game-engine"]
	path = idlib-game-engine
	url = https://github.com/glgoston/idlib-game-engine
	branch = develop
